body {
  font-family: 'Georgia', serif;
  background-color: #222;
  color: #eee;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("img/red-dead-redemption-2-background.jpg"); /* Substitua pela sua imagem de fundo */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}

h1 {
  font-size: 4em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #000;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 30px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  width: 250px;
  margin: 10px;
  text-align: center;
  padding: 15px;
  border: 2px solid #555;
  border-radius: 5px;
}

.character img {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.call-to-action {
  text-align: center;
}

button {
  background-color: #555;
  color: #eee;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .characters {
    flex-direction: column;
  }

  .character {
    width: 100%;
  }
}
